<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-language" content="en-ud">
  <base href="{global.baseUrl}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{head.title} | {global.appName}</title>
  <meta name="description" content={head.description}/>
  <link type="image/x-icon" rel="icon" href="favicon.ico"/>
  <script type="text/javascript" charset="utf-8" src="public/appjs"></script>
  <link rel="stylesheet" type="text/css" href="public/app.css" />
</head>
<body class={body.class}>
  <!-- Page Wrapper -->
  <div class="wrapper">
    <!-- Header -->
    <div class="header">
      <a href="/" class="logo"></a>
      <ul class="menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a class="looedOut" href="/">Signup</a>
        </li>
        <li>
          <a class="looedOut" href="/">Login</a>
        </li>
        <li>
          <a class="looedIn" href="/">Dashboard</a>
        </li>
        <li>
          <a class="looedIn" href="/">Account Setting</a>
        </li>
        <li>
          <a class="looedIn" href="/">Logout</a>
        </li>
      </ul>
    </div>
      
      <div class="content">
